<header class="header">
  <div class="logo">
    <img src="assets/images/logoCareConnect.jpg" alt="CareConnect">
  </div>
  <nav class="nav">
    <ul>
      <li (mouseenter)="showDropdown('inicio')" (mouseleave)="hideDropdown()">
        <a href="#" class="active">Inicio</a>
      </li>

      <li (mouseenter)="showDropdown('pacientes')" (mouseleave)="hideDropdown()">
        <a routerLink="/pacientes" routerLinkActive="active">Pacientes</a>
        <ul class="dropdown-menu" *ngIf="activeDropdown === 'pacientes'">
          <li><a routerLink="/pacientes">Lista de Pacientes</a></li>
          <li><a routerLink="/registro-pacientes">Registrar Pacientes</a></li>
        </ul>
      </li>

      <li (mouseenter)="showDropdown('enfermeras')" (mouseleave)="hideDropdown()">
        <a href="#">Enfermeras</a>
        <ul class="dropdown-menu" *ngIf="activeDropdown === 'enfermeras'">
          <li><a routerLink="/enfermeras/turnos">Lista de Enfermeras</a></li>
          <li><a routerLink="/registrar-enfermera">Registrar Enfermeras</a></li>
        </ul>
      </li>

      <li (mouseenter)="showDropdown('asignar')" (mouseleave)="hideDropdown()">
        <a href="#">Asignar</a>
        <ul class="dropdown-menu" *ngIf="activeDropdown === 'asignar'">
          <li><a routerLink="/asignar/pacientes">Pacientes</a></li>
          <li><a routerLink="/asignar/enfermeras">Enfermeras</a></li>
        </ul>
      </li>

      <li (mouseenter)="showDropdown('inventario')" (mouseleave)="hideDropdown()">
        <a href="#">Inventario</a>
        <ul class="dropdown-menu" *ngIf="activeDropdown === 'inventario'">
          <li><a routerLink="/inventario/materiales">Invventario por Paciente</a></li>
          <li><a routerLink="/inventario/medicamentos">Lista de Insumos</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <button class="logout-btn" (click)="logout()">
    <i class='bx bx-log-out'></i>
  </button>
</header>
