<header class="header">
  <div class="logo">
    <img src="assets/images/logo.png" alt="CareConnect">
  </div>
  <nav class="nav">
    <ul>
      <li (mouseenter)="showDropdown('inicio')" (mouseleave)="hideDropdown()">
        <a href="#" class="active" routerLink="/cronograma">Inicio</a>
      </li>

      <li (mouseenter)="showDropdown('pacientes')" (mouseleave)="hideDropdown()">
        <a routerLink="/pacientes" routerLinkActive="active">Pacientes</a>
        <ul class="dropdown-menu" *ngIf="activeDropdown === 'pacientes'">
          <li><a routerLink="/pacientes">Lista de Pacientes</a></li>
          <li><a routerLink="/registro-pacientes">Registrar Pacientes</a></li>
        </ul>
      </li>

      <li (mouseenter)="showDropdown('enfermeras')" (mouseleave)="hideDropdown()">
        <a href="#" routerLink="/lista-enfermeras">Enfermeras</a>
        <ul class="dropdown-menu" *ngIf="activeDropdown === 'enfermeras'">
          <li><a routerLink="/registro-enfermeras">Registrar Enfermeras</a></li>
          <li><a routerLink="/lista-enfermeras">Progreso de Enfermeras</a></li>
        </ul>
      </li>

      <li (mouseenter)="showDropdown('asignar')" (mouseleave)="hideDropdown()">
        <a href="#" routerLink="/asignar-pacientes">Asignar</a>
        <ul class="dropdown-menu" *ngIf="activeDropdown === 'asignar'">
          <li><a routerLink="/asignar-pacientes">Pacientes</a></li>
          <li><a routerLink="/asignar-enfermeras">Enfermeras</a></li>
        </ul>
      </li>

      <li (mouseenter)="showDropdown('inventario')" (mouseleave)="hideDropdown()">
        <a href="#" routerLink="/inventario">Inventario</a>
        <ul class="dropdown-menu" *ngIf="activeDropdown === 'inventario'">
          <li><a routerLink="/inventario">Inventario por pacientes</a></li>
          <li><a routerLink="/inventario-total">Registro de Medicamento o Procedimiento</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <button class="logout-btn" (click)="logout()">
    <i class='bx bx-log-out'></i>
  </button>
</header>
