<div class="register-container">
    <h2 class="title">Registrar Enfermera</h2>
  
    <form [formGroup]="nurseForm" (ngSubmit)="onSubmit()">
      <div class="section">
        <h3>Datos personales</h3>
  
        <div class="section2" formGroupName="personalInfo">
          <div class="form-group">
            <label>Nombres</label>
            <input formControlName="nombres" type="text" />
          </div>
          <div class="form-group">
            <label>Apellidos</label>
            <input formControlName="apellidos" type="text" />
          </div>
          <div class="form-group">
            <label>Tipo de Documento</label>
            <select formControlName="tipoDocumento">
              <option>CC</option>
              <option>TI</option>
              <option>Pasaporte</option>
            </select>
          </div>
          <div class="form-group">
            <label>N° de Documento</label>
            <input formControlName="numeroDocumento" type="text" />
          </div>
          <div class="form-group">
            <label>Dirección</label>
            <input formControlName="direccion" type="text" />
          </div>
          <div class="form-group">
            <label>Localidad</label>
            <select formControlName="localidad">
              <option>Suba</option>
              <option>Usaquén</option>
              <option>Chapinero</option>
            </select>
          </div>
          <div class="form-group">
            <label>Turno</label>
            <select formControlName="Turno asignado">
              <option>Noche 19:00 a 7:00</option>
              <option>Mañana 7:00 a 13:00</option>
              <option>Tarde 13:00 a 19:00</option>
            </select>
          </div>
          <div class="form-group">
            <label>Celular</label>
            <input formControlName="celular" type="text" />
          </div>
          <div class="form-group">
            <label>Foto</label>
            <input type="file" formControlName="foto" />
            <i class='bx bx-load'></i>
          </div>
        </div>
      </div>
  
  
      <div class="buttons">
        <button type="submit" class="save-btn">Guardar</button>
      </div>
    </form>
  </div>
  