<div class="container">
  <div class="header">
    <h2 class="title-center">Perfil del Paciente</h2>
  </div>

  <div class="profile-container">
    <!-- Sección de perfil -->
    <div class="profile-section">
      <div class="profile-icon">
        <i class="fas fa-user-circle"></i>
      </div>
      <h3 class="patient-name">
        {{ paciente.nombres }} {{ paciente.apellidos }}
      </h3>
      <p class="patient-id">ID: {{ paciente.documento }}</p>
    </div>

    <!-- Sección de información -->
    <div class="info-sections">
      <!-- Sección Datos Personales -->
      <div class="info-section">
        <div class="section-header">
          <h3 class="section-title">Datos personales</h3>
          <button class="edit-btn" (click)="openEditModal()">
            <i class="fas fa-edit"></i> Modificar
          </button>
        </div>

        <div class="info-grid">
          <div class="info-item">
            <label>Nombres:</label>
            <span>{{ paciente.nombres }}</span>
          </div>
          <div class="info-item">
            <label>Apellidos:</label>
            <span>{{ paciente.apellidos }}</span>
          </div>
          <div class="info-item">
            <label>Documento:</label>
            <span>{{ paciente.documento }}</span>
          </div>
          <div class="info-item">
            <label>Dirección:</label>
            <span>{{ paciente.direccion }}</span>
          </div>
          <div class="info-item">
            <label>Localidad:</label>
            <span>{{ paciente.localidad }}</span>
          </div>
          <div class="info-item">
            <label>Barrio:</label>
            <span>{{ paciente.barrio }}</span>
          </div>
          <div class="info-item">
            <label>Celular:</label>
            <span>{{ paciente.celular }}</span>
          </div>
          <div class="info-item">
            <label>Nombre Acudiente:</label>
            <span>{{ paciente.nombreFamiliar}}</span>
          </div>
          <div class="info-item">
            <label>Celular Acudiente:</label>
            <span>{{ paciente.celularFamiliar}}</span>
          </div>
          <div class="info-item">
            <label>Segundo Celular Acudiente:</label>
            <span>{{ paciente.segundoCelularFamiliar}}</span>
          </div>
          <div class="info-item">
            <label>Estado:</label>
            <span
              [class.active]="paciente.estado === 'Activo'"
              [class.inactive]="paciente.estado === 'Inactivo'"
            >
              {{ paciente.estado }}
            </span>
          </div>
        </div>
      </div>

      <!-- Sección Tratamiento -->
      <div class="info-section">
        <div class="section-header">
          <h3 class="section-title">Tratamiento</h3>
          <div class="section-actions">
            <button class="action-btn" (click)="verInventario(paciente)">
              <i class="fas fa-eye"></i> Ver
            </button>
          </div>
        </div>

        <div class="table-responsive">
          <table class="info-table">
            <thead>
              <tr>
                <th>Medicamento</th>
                <th>Cantidad</th>
                <th>Días</th>
                <th>Posología</th>
                <th>Inicio</th>
                <th>Duración</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let med of treatment">
                <td>{{ med.nombre }}</td>
                <td>{{ med.cantidad }}</td>
                <td>{{ med.dias }}</td>
                <td>{{ med.posologia }}</td>
                <td>{{ med.fechaInicio | date : "dd/MM/yyyy" }}</td>
                <td>{{ med.duracion }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Sección Historial Médico -->
      <div class="info-section">
        <h3 class="section-title">Historial médico</h3>
        <div class="history-container">
          <div
            *ngFor="let hist of historial"
            class="history-card"
            [class.completed]="hist.completado"
          >
            <div class="history-content">
              <h4>{{ hist.tratamiento }}</h4>
              <div class="history-details">
                <span
                  ><i class="fas fa-calendar-day"></i>
                  {{ hist.dias }} días</span
                >
                <span
                  [class.badge-completed]="hist.completado"
                  [class.badge-in-progress]="!hist.completado"
                >
                  <i
                    class="fas"
                    [class.fa-check-circle]="hist.completado"
                    [class.fa-spinner]="!hist.completado"
                  ></i>
                  {{ hist.completado ? "Completado" : "En curso" }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para Modificar Datos -->
  <div *ngIf="showEditModal" class="modal-overlay">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Modificar Datos Personales</h3>
        <button class="close-btn" (click)="closeEditModal()">
          <i class="fas fa-times"></i>
        </button>
      </div>

      <form class="modal-form">
        <div class="form-columns">
          <!-- Columna 1 -->
          <div class="form-column">
            <div class="form-group">
              <label>Nombres:</label>
              <input
                [(ngModel)]="paciente.nombres"
                name="nombres"
                class="form-input"
              />
            </div>
            <div class="form-group">
              <label>Apellidos:</label>
              <input
                [(ngModel)]="paciente.apellidos"
                name="apellidos"
                class="form-input"
              />
            </div>
            <div class="form-group">
              <label>Tipo de Documento:</label>
              <select
                [(ngModel)]="paciente.tipoIdentificacion.nombre"
                name="tipoIdentificacion"
                class="form-input"
              >
                <option value="CC">Cédula de Ciudadanía</option>
                <option value="TI">Tarjeta de Identidad</option>
                <option value="Pasaporte">Pasaporte</option>
              </select>
            </div>
            <div class="form-group">
              <label>Número de Documento:</label>
              <input
                [(ngModel)]="paciente.documento"
                name="documento"
                class="form-input"
              />
            </div>
            <div class="form-group">
              <label>Dirección:</label>
              <input [(ngModel)]="paciente.direccion" name="direccion" class="form-input"/>
              <button type="button" class="edit-btn" (click)="openAddressModal()">
              <i class="fas fa-edit"></i> Editar
            </button>
            </div>
            <div class="form-group">
              <label>Localidad:</label>
              <input disabled="true"
                [(ngModel)]="paciente.localidad"
                name="localidad"
                class="form-input"
              />
            </div>
            <div class="form-group">
              <label>Estado:</label>
              <select [(ngModel)]="paciente.estado" name="estado" class="form-input">
                <option value="Activo">Activo</option>
                <option value="Inactivo">Inactivo</option>
              </select>
            </div>
            
          </div>

          <!-- Columna 2 -->
          <div class="form-column">
            <div class="form-group">
              <label>Celular:</label>
              <input
                [(ngModel)]="paciente.celular"
                name="celular"
                class="form-input"
              />
            </div>
            <div class="form-group">
              <label>Nombre del Acudiente:</label>
              <input
                [(ngModel)]="paciente.nombreFamiliar"
                name="nombreFamiliar"
                class="form-input"
              />
            </div>
            <div class="form-group">
              <label>Celular del Acudiente:</label>
              <input
                [(ngModel)]="paciente.celularFamiliar"
                name="celularFamiliar"
                class="form-input"
              />
            </div>
            <div class="form-group">
              <label>Segundo Celular Acudiente:</label>
              <input
                [(ngModel)]="paciente.segundoCelularFamiliar"
                name="segundoCelularFamiliar"
                class="form-input"
              />
            </div>
            <div class="form-group">
              <label>Conjunto:</label>
              <input
                [(ngModel)]="paciente.conjunto"
                name="conjunto"
                class="form-input"
              />
            </div>
            <div class="form-group">
              <label>Barrio:</label>
              <input disabled="true"
                [(ngModel)]="paciente.barrio"
                name="barrio"
                class="form-input"
              />
            </div>
          </div>
        </div>

        <div class="form-actions">
          <button type="button" class="cancel-btn" (click)="closeEditModal()">
            <i class="fas fa-times"></i> Cancelar
          </button>
          <button type="button" class="save-btn" (click)="saveChanges()">
            <i class="fas fa-save"></i> Guardar Cambios
          </button>
        </div>
      </form>
    </div>
    <!-- Modal para Dirección -->
<div *ngIf="showAddressModal" class="modal-overlay">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Dirección Completa</h3>
      <button class="close-btn" (click)="closeAddressModal()">
        <i class="fas fa-times"></i>
      </button>
    </div>

    <form class="modal-form" [formGroup]="addressForm">
      <div class="form-columns">
        <div class="form-column">
          <div class="form-group">
            <label>Tipo de Vía</label>
            <select formControlName="tipoVia" required>
              <option value="" disabled selected>Seleccionar</option>
              <option value="Calle">Calle</option>
              <option value="Carrera">Carrera</option>
              <option value="Avenida">Avenida</option>
              <option value="Diagonal">Diagonal</option>
              <option value="Transversal">Transversal</option>
            </select>
          </div>

          <div class="form-group">
            <label>Número Vía</label>
            <input
              type="text"
              formControlName="numeroVia"
              placeholder="Ej: 12"
              required
            />
          </div>

          <div class="form-group">
            <label>Letra Vía (Opcional)</label>
            <input type="text" formControlName="letraVia" placeholder="Ej: B" />
          </div>
        </div>

        <div class="form-column">
          <div class="form-group">
            <label>Bis</label>
            <select formControlName="bis">
              <option value="">No</option>
              <option value="Bis">Bis</option>
              <option value="Bis A">Bis A</option>
              <option value="Bis B">Bis B</option>
            </select>
          </div>

          <div class="form-group">
            <label>Complemento</label>
            <input
              type="text"
              formControlName="complemento"
              placeholder="Ej: Este, Oeste"
            />
          </div>

          <div class="form-group">
            <label>Número Placa</label>
            <input
              type="text"
              formControlName="numeroPlaca"
              placeholder="Ej: 45-67"
              required
            />
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Conjunto/Edificio (Opcional)</label>
        <input
          type="text"
          formControlName="conjunto"
          placeholder="Ej: Conjunto Alegria"
        />
      </div>

      <div class="form-group">
        <label>Localidad</label>
        <select
          formControlName="localidad"
          required
          (change)="onLocalidadChange()"
        >
          <option value="" disabled selected>Seleccione localidad</option>
          <option *ngFor="let loc of localidades" [value]="loc.codigo">
            {{ loc.nombre }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label>Barrio</label>
        <select formControlName="barrio" required>
          <option value="" disabled selected>Seleccione barrio</option>
          <option
            *ngFor="let barrio of barriosFiltrados"
            [value]="barrio.nombre"
          >
            {{ barrio.nombre }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label>Complemento Dirección</label>
        <textarea
          formControlName="complementoDireccion"
          placeholder="Ej: Torre 2, Apartamento 301"
        ></textarea>
      </div>

      <div class="form-actions">
        <button type="button" class="cancel-btn" (click)="closeAddressModal()">
          <i class="fas fa-times"></i> Cancelar
        </button>
        <button type="button" class="save-btn" (click)="saveAddress()">
          <i class="fas fa-save"></i> Guardar Dirección
        </button>
      </div>
    </form>
  </div>
</div>
