<div class="login-container d-flex flex-column justify-content-center align-items-center vh-100">
  
    <!-- Título de la aplicación -->
    <h1 class="logo-title text-primary">CARECONNECT</h1>
  
    <div class="login-card d-flex shadow-lg">
      
      <!-- Logo -->
      <div class="logo-container d-flex align-items-center justify-content-center">
        <img src="assets/images/logoCareConnect.jpg" alt="CareConnect Logo" class="logo">
      </div>
  
      <!-- Formulario -->
      <div class="form-container p-4">
        <h2 class="text-primary text-center mb-4">Inicio de Sesión</h2>
  
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="email" class="form-label">Correo</label>
            <input type="email" id="email" class="form-control" formControlName="email" placeholder="Ingresa tu correo">
            <small class="text-danger" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
              Correo inválido
            </small>
          </div>
  
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" id="password" class="form-control" formControlName="password" placeholder="Ingresa tu contraseña">
            <small class="text-danger" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
              La contraseña es requerida
            </small>
          </div>
  
          <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid">Iniciar sesión</button>
        </form>
  
        <div class="text-center mt-3">
          <a href="#" class="text-secondary">Recuperar contraseña</a>
        </div>
      </div>
  
    </div>
  </div>
  